@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=PT+Serif:wght@700&family=Roboto:wght@300;400;500;700&display=swap');

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body {
  background-color: aliceblue;
  font-family: "roboto", "sans-serif";
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

p {
  color: rgb(113, 113, 113);
}

.main-title {
  color:rgb(79, 89, 99);
  font-size: 36px;
  font-weight: 700;

}

.secondary-title {
  font-size: 20px;
  color: rgb(54, 105, 109);
  font-weight: 500;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(74, 32, 187);
}

a:hover {
  color:chocolate;

}

.git_link:hover {
  text-decoration: "fa-brands fa-github-alt fa-beat"
}

.card {
  text-align: center;
  background: white;
  box-shadow: 10px, 10px;
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 15px;
  margin: 16px auto;
}

.container {
  margin: 0 auto;
  width: 500px;
}

.list-inline {
  list-style: none;
  padding: 0px;
}

.list-inline li {
  display: inline-block;
  font-size: 56px;
  margin: 10px;
}
